*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
}



h1 {
    width: 50%;
            color: blue;
            background-color: yellow;
            width: 50;
            text-align: center;
            font-family: 'Arial Black', sans-serif;
        }

p{
    background-color: lightgrey;
    font-family: 'Verdana', sans-serif;
    
}