   h1{
            color: rgb(43, 4, 4); 
            background-color: rgb(202, 202, 215);
            text-align: center; 
            font: bolder; 
            font-family: 'Gill Sans';
        }
        body{
            background-color: rgb(203, 173, 96);
        }
        